# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Dependency directories
node_modules/
jspm_packages/

# Distribution directories
dist/
out/
build/
public/

# dotenv environment variables file
.env

# Log files
logs
*.log
